@media (max-width: 960px) {
  .news__item {
    padding: 0 10px 0 0;
  }

  .footer__item {
    padding: 0 10px 0 0;
  }
}

@media (max-width: 900px) {
  .works__items {
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .works__item {
    width: 160px;
    height: 138px;
  }
  .works__item img {
    width: 100%;
    height: 100%;
  }
  /* .footer__item {
    width: 200px;
    height: auto;
  } */

  /* .footer__items {
    display: block;
    padding: 20px 10px;
  }

  .footer__item {
    width: 100%;
    height: auto;
  } */
}

@media (max-width: 890px) {
}

@media (max-width: 695px) {
  .works__item {
    width: 220px;
    height: 185px;
    margin: 0 0 70px 0;
  }
}

@media (max-width: 768px) {
  .header__menu {
    display: none;
  }

  .header__btn {
    display: block;
  }
}

@media (max-width: 630px) {
  .news__items {
    flex-wrap: wrap;
  }

  .news__item {
    padding: 10px 20px 0;
    width: 100%;
    border-bottom: 1px solid rgb(185, 185, 185);
  }
  .news__button {
    margin: 0 0 10px 0;
  }

  .works__item {
    width: 110px;
    height: 90px;
    margin: 0;
  }

  .works__item img {
    width: 100%;
    height: 100%;
  }

  .works__discription--media a {
    width: 70px;
  }
}

@media (max-width: 480px) {
  .works__item {
    width: 150px;
    height: 130px;
    margin: 0 0 70px 0;
  }
  .works__discription--media a {
    width: auto;
  }
}
