@media(max-width: 8`60px) {
.news__item {
    padding: 0 10px 0 0;
    }
}

@media(max-width: 580px) {
    .header__nav {
        height: auto;
        opacity: 1;
      }
      .header__menu a {
        height: 0;
      }
 }